.footer-institutionnel {
  background-color: rgb(81, 190, 95);
  color: #fff;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem; /* Réduction de l’espace horizontal */
}

.footer-col {
  flex: 1 1 160px; /* Largeur minimale réduite */
  min-width: 160px;
  font-size: 0.85rem;
}
.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 10px;
}

.social-links li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px; /* espace entre l’icône et le texte */
  transition: color 0.3s;
}

.social-links li a:hover {
  color: #B71C1C;
}

.social-links i {
  font-size: 18px;
}


.footer-col h4 {
  font-size: 1rem;
  margin-bottom: 0.4rem;
  color: #fff;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 0.3rem;
}

.footer-col ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

/* Responsive mobile */
@media (max-width: 768px) {
  .footer-grid {
    flex-direction: column;
  }

  .footer-col {
    min-width: 100%;
  }
}


