.footer-section {
    background-color: #f2f2f2; 
    color: #333333;
    padding: 2rem 1rem;
    font-size: 0.85rem;
    border-top: 1px solid #198754;
}

/* logo cliquable */
.footer-logo a {
    display: inline-block;
}

.footer-logo img {
    cursor: pointer;
}

.footer-wrapper {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.footer-logo img {
    margin-bottom: 1rem;
}

.footer-links {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 0.85rem;
}

.footer-links a {
    color: #145c32;
    text-decoration: none;
    margin: 0 0.4rem;
    transition: color 0.2s ease;
    font-size: 1.05rem;
}

.footer-links a:hover {
    color: #000000;
}

.footer-text p {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    color: #555555;
}






