.section-detail-fiche {
    background-color: #f8f9fa;
   
}

.detail-card {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    max-width: 1000px;
    margin: 0 auto;
}

.label-type {
    background-color: #000;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}

.detail-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 15px 0;
    line-height: 1.6;
}

/* Aligne le titre avec la carte de détails */
.page-title {
  max-width: 1000px;     
  margin: 0 auto 10px;    
  text-align: left !important; 
  padding-left: 4px;     
  box-sizing: border-box;
}

.detail-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #28a745;
    font-size: 0.95rem;
    margin-bottom: 20px;
}

.detail-meta i {
    margin-right: 5px;
}

.detail-section {
    margin-bottom: 25px;
}

.detail-section h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}

.detail-section p {
    margin: 0;
    color: #333;
    line-height: 1.6;
}

/* style pour le button retour */
.btn-retour {
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.2s;
    text-decoration: none;
}

.btn-retour:hover {
    background-color: #767474;
}

/* Bouton retour */
.btn-retour {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745; 
    color: #fff; 
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px; 
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-retour:hover {
    background-color: #218838; 
    transform: translateY(-2px); /* effet léger de soulèvement */
    text-decoration: none;
}

.btn-retour:active {
    background-color: #1e7e34; 
    transform: translateY(0);
}

/* Bouton document */
.btn-document {
    border-radius: 50px !important;   
    padding: 10px 25px !important;    
    font-weight: 500 !important;      
    display: inline-flex !important;
    align-items: center !important;
    gap: 5px !important;
    background-color: #28a745 !important;  
    color: #fff !important;                 
    border: none !important;
    transition: all 0.3s;
}

.btn-document:hover {
    background-color: #218838 !important;  
    color: #fff !important;
    text-decoration: none !important;
}
